body.dark {
  background-color: #121212;
  color: #fff;
}

.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: #f0f0f0;
}

body.dark .navBar {
  background-color: #1f1f1f;
}

body, .navBar {
  transition: background-color 0.3s ease, color 0.3s ease;
}
